altgraph==0.17.2
arcade==2.6.3
arrayfire==3.6.20181017
atomicwrites==1.4.0
attrs==21.2.0
auto-py-to-exe==2.10.0
autopep8==1.5.7
backports.entry-points-selectable==1.1.0
bottle==0.12.19
bottle-websocket==0.2.9
cached-property==1.5.2
cffi==1.14.6
click==8.0.3
cloudpickle==2.0.0
cocos==0.2.2
colorama==0.4.4
contexttimer==0.3.3
dill==0.3.4
distlib==0.3.3
Eel==0.12.4
filelock==3.3.1
Flask==2.0.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
loky==3.0.0
MarkupSafe==2.0.1
mpmath==1.2.1
multiprocess==0.70.12.2
numpy==1.21.2
packaging==21.0
Panda3D==1.10.10
panda3d-gltf==0.13
panda3d-simplepbr==0.9
pathos==0.2.8
pefile==2021.9.3
Pillow==8.3.2
platformdirs==2.4.0
pluggy==1.0.0
pox==0.3.0
ppft==1.6.6.4
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pygame==2.0.1
pyglet==2.0.dev9
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pymunk==6.2.0
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.2.5
pytiled-parser==1.5.3
pywin32-ctypes==0.2.0
scipy==1.7.1
screeninfo==0.7
Shapely==1.7.1
six==1.16.0
SQLAlchemy==1.4.25
sympy==1.9
toml==0.10.2
typing-extensions==3.10.0.2
ursina==4.0.0
virtualenv==20.8.1
Werkzeug==2.0.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
